.header-container {
  /* background-color: #6c757d; */
  /* height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 2px 2px 10px #000; */
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.heading-text {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 420px) {
  .heading-text {
    font-size: 1.5rem;
  }
}
